body {
    width: 100%;
    max-width: 1024px;
    background-color: bisque;
    margin: 0 auto;
}

.foto {
    width: 200px;
    height: 200px;
    float:left;
    margin: 7px 7px 7px 0;
}

header {
    text-align: center;
    background: white;
}
.text {
    position: absolute;
    top: 290px;
    background: rgb(221, 207, 143);
}

.text::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 2px;
    background: black;
}

.list{
    background: rgb(137, 137, 207);
}
