body{
    width: 600px;
    background-color: bisque;
    margin: 0 auto;
}

.foto{

    width: 200px;
    height: 200px;
    float:left;
    margin: 7px 7px 7px 0;
}
header{
    text-align: center;
    background: white;
}
text{
    margin: top 200px;
}